@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 720px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(243, 243, 243);
    z-index: 500;
    display: none;
}

nav .nav-title {
    font-size: 1.85em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    position: absolute;
    left: 10px;
}

nav .nav-title:hover {
    cursor: pointer;
}


nav .nav-button {
    font-weight: 200;
    font-size: 0.9em;
    padding: 6px;
    width: fit-content;
    width: -moz-fit-content;
    background: #F7931D;
    color: white;
    position: absolute;
    top: 8px;
    right: 10px;
    border-radius: 5px;
}

header {
    width: 100%;
    height: 100vh;
    background: #344374;
    position: relative;
}

section {
    position: relative;
    width: 100%;
    height: 400px;
}

.section-header {
    text-align: center;
    margin: 0 auto 0 auto;
}

.section-header .icon {
    height: 100px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    vertical-align: middle;
}

.section-header h1{
    font-size: 2.4em;
    margin: 0.5em;
}

.section-top {
    max-width: 1200px;
    height: 160px;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
}

.section-bottom {
    max-width: 1200px;
    height: 140px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    margin: 40px auto 0 auto;
}

.section-image {
    height: 400px;
}

.section-contents {
    width: 720px;
    font-weight: 300;
    font-size: 1.4em;
    width: 680px;
    margin: 0 auto 0 auto;
}

.title-box {
    top: 36vh;
    position: relative;
    color: white;
    margin: 0 auto 0 auto;
    width: fit-content;
    text-align: center;
}

.title-box h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0;
}

.title-box .date {
    margin: 0;
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 0.24em;
}

.title-box .description {
    margin: 0;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1.8em;
}

.title-box hr {
    width: 15em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.title-box .join-button {
    font-weight: 400;
    font-size: 1.2em;
    padding: 6px;
    margin: 1.2em auto 0 auto;
    width: 200px;
    background: #F7931D;
}

.title-box .join-button:hover {
    cursor: pointer;
}

.title-box .join-button:hover:active:visited {
    text-decoration: none;
}

.learn-more {
    position: absolute;
    bottom: 20px;
    margin: 0 auto 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 200;
}

.learn-more:hover {
    cursor: pointer;
}

.learn-more p {
    margin: 0 0 10px 0;
}

.low-arrow img {
    width: 20px;
}

.mirror-ball-stick {
    width: 3px;
    height: 12vh;
    background: rgb(100,100,100);
    margin: 0 auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.mirror-ball {
    width: 150px;
    height: 150px;
    background: rgb(100,100,100);
    border-radius: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
}

.mirror-ball-container {
    width: 320px;
    height: 160px;
    margin-left: -150px;

}

.mirror-ball-particle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
    animation: blink 1s infinite, move 10s linear infinite;
    display: inline-block;
    margin: 3px;
    position: relative;
}

.dgd-logo {
    width: 200px;
}

#one {
    height: 800px;
    background: url(../img/section_bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
}

#one .section-header {
    padding-top: 80px;
    margin: 0 auto 0 auto;
    color: white;
    height: 340px;
    text-align: center;
}

#one .section-header img {
    height: 135px;
}

#one .section-header h1 {
    font-size: 2.6em;
    font-weight: bold;
}

#one .section-contents {
    color: white;
    font-size: 1.4em;
    margin: 0 auto 0 auto;
}

#one .section-contents h3 {
    margin-top: 0;
}

#one .section-contents-wrapper {
    background: rgba(60,60,60, 0.8);
    height: 600px;
    padding: 20px;
    bottom: 0px;
}

#two {
    background: #354375;
    color: white;
    height: auto;
    padding-bottom: 0;
}

#two .section-top {
    background-image: url(../img/desk-top.png);
    height: 170px;
}

#two .section-bottom {
    background-image: url(../img/desk-bottom.png);
}

#two .section-header span{
    vertical-align: middle;
}

#two .section-contents {
    color: white;
}

#three {
    background: #2b3660;
    color: white;
    height: auto;
}

#three .section-top {
    background-image: url(../img/pizza.png);
    height: 150px;
}

#three .section-header {
    overflow: hidden;
}

#three .section-bottom {
    background-image: url(../img/chicken_bg.png);
    margin-top: 0px;
}

#three .section-header .icon {
    height: 16vh;
    max-height: 140px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    vertical-align: middle;
}

#three .section-header span{
    vertical-align: middle;
}

#three .section-contents {
    color: white;
}

.picture-wrapper {
    width: 500px;
    height: 110px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: right;
}

.dongle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff9e00;
    border-radius: 50px;
}

.dongle .pie {
    background-color: #2b3660;
    transform:rotate(60deg);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    clip: rect(0px, 50px, 100px, 0px);
    animation: nyam1 1s infinite;
    border: 2px solid #2b3660;
}

.dongle .hold {
    position: absolute;
    transform:rotate(60deg);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    clip: rect(0px, 100px, 100px, 50px);
    animation: nyam2 1s infinite;
}

.dongle .eye {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgb(60,60,60);
    left: 70px;
    top: 20px;
}

.food-icon {
    height: 100px;
    position: relative;
    visibility: hidden;
}

.chicken{
    animation: food1 3s linear infinite;
    animation-delay: 0s;
    -webkit-animation: food1 4s linear infinite;
    -webkit-animation-delay: 0s;
    z-index: 100;
}

.coke{
    animation: food2 3s linear infinite;
    animation-delay: 1.2s;
    -webkit-animation: food2 4s linear infinite;
    -webkit-animation-delay: 1.2s;
    z-index: 101;
}
.snack{
    animation: food3 3s linear infinite;
    animation-delay: 2.5s;
    -webkit-animation: food3 4s linear infinite;
    -webkit-animation-delay: 2.5s;
    z-index: 102;
}

#four {
    background: #354375;
    color: white;
    height: auto;
}

#four .section-top {
    background-image: url(../img/four-top.png);
}

#four .section-bottom {
    background-image: url(../img/four-bottom.png);
}

#five {
    background: #5b6a84;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
}

#five .section-contents p {
    text-align: center;
}

.timeline {
    margin: 40px auto 0 auto;
    width: 680px;
    height: auto;
}

.timeline .day-title h1{
    text-align: center;
    margin-top: 0;
}

.timeline:nth-child(2) {
    margin-top: 0;
}

.session-box-wrapper{
    width: fit-content;
    width: -moz-fit-content;
    height: auto;
    margin: 0 auto 0 auto;

}

.session-box {
    width: 128px;
    height: 140px;
    text-align: center;
    display: inline-block;
}

.session-icon {
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
}

.time-a .session-box:nth-child(5n+1) .session-icon {
    background-color: #66ecda;
}

.time-a .session-box:nth-child(5n+2) .session-icon {
    background-color: #3ab6ff;
}

.time-a .session-box:nth-child(5n+3) .session-icon {
    background-color: #ff9d37;
}

.time-a .session-box:nth-child(5n+4) .session-icon {
    background-color: #52a9d2;
}

.time-a .session-box:nth-child(5n+5) .session-icon {
    background-color: #ff5e4e;
}

.time-b .session-box:nth-child(5n+1) .session-icon {
    background-color: #ba58c5;
}

.time-b .session-box:nth-child(5n+2) .session-icon {
    background-color: #ff2877;
}

.time-b .session-box:nth-child(5n+3) .session-icon {
    background-color: #ff6428;
}

.time-b .session-box:nth-child(5n+4) .session-icon {
    background-color: #3ab6ff;
}
.time-b .session-box:nth-child(5n+5) .session-icon {
    background-color: #ff5e4e;
}


.session-icon img {
    width: 32px;
    height: 32px;
    margin-top: 12px;
}

.session-title {
    font-size: 0.8em;
}

.session-time {
    font-size: 0.8em;
    padding-top: 10px;
}

#five .section-contents {
    font-size: 1.1em;
}

#six {
    background: #61728f;
    color: white;
    height: auto;
    padding-bottom: 40px;
}

#six .section-header {
    padding: 20px;
}

#six .section-contents .content-box {
    width: 300px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
}

#six .section-contents .a {
    background-color: #354375;
}

#six .section-contents .b {
    background-color: #2b3660;
}

#six .section-contents .content-box h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#six .section-contents .content-box .content-icon{
    width: 30px;
    height: 30px;
    margin: 0 auto 0 auto;
}

#six .section-contents .content-box p {
    font-size: 0.9em;
}

#six .section-contents .content-box hr {
    width: 40px;
    height: 4px;
    border: none;
    background: white;
    margin: 20px auto 20px auto;
}

#seven {
    padding: 30px 0px;
    background-color: #FCFCFC;
    color: #053361;
    height: auto;
}

#seven .section-contents {
    text-align: center;
    margin-top: 30px;
}

#seven .section-contents .sponsor {
    display: inline-block;
    height: 40px;
    margin: 10px;
}

footer {
    background: #2d2d2d;
    color: white;
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 20px;
}

    @keyframes food1 {
    0%{
        transform: translate(250px, 0);
        visibility: visible;
    }

    50%{
        transform: translate(-200px, 0);
        visibility: visible;
    }

    51% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes food2 {
    0%{
        transform: translate(150px, 0);
        visibility: visible;
    }

    50%{
        transform: translate(-250px, 0);
        visibility: visible;
    }

    51% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes food3 {
    0%{
        transform: translate(50px, 0);
        visibility: visible;
    }

    50%{
        transform: translate(-330px, 0);
        visibility: visible;
    }

    51% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes nyam1 {
    0% {
        transform:rotate(60deg);
    }

    50% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(60deg);
    }
}

@keyframes nyam2 {
    0% {
        transform:rotate(60deg);
    }

    50% {
        transform:rotate(90deg);
    }

    100% {
        transform:rotate(60deg);
    }
}

@keyframes blink1{
    0% {
        background: grey;
    }
    30% {
        background: grey;
    }
    35% {
        background: white;
    }
    40% {
        background: grey;
    }
    100% {
        background: grey;
    }
}

@keyframes blink2{
    0% {
        background: grey;
    }
    10% {
        background: grey;
    }
    15% {
        background: white;
    }
    20% {
        background: grey;
    }
    100% {
        background: grey;
    }
}

@keyframes blink3{
    0% {
        background: grey;
    }
    50% {
        background: grey;
    }
    55% {
        background: white;
    }
    60% {
        background: grey;
    }
    100% {
        background: grey;
    }
}

@keyframes blink4{
    0% {
        background: grey;
    }
    80% {
        background: grey;
    }
    85% {
        background: white;
    }
    90% {
        background: grey;
    }
    100% {
        background: grey;
    }
}

@keyframes blink{
    0% {
        background: grey;
    }
    35% {
        background: white;
    }
    100% {
        background: grey;
    }
}

@keyframes move{
    from {
        left: 0px;
    }
    to {
        left: 147px;
    }
}

@media (max-device-width: 577px) {

    nav {
        height: 40px;
    }

    nav .nav-title {
        font-size: 1.42em;
        letter-spacing: 0.1em;
        font-weight: bolder;
        position: absolute;
        left: 10px;
    }

    nav .nav-button {
        font-weight: 200;
        font-size: 0.8em;
        padding: 6px;
        width: fit-content;
        width: -moz-fit-content;
        background: #F7931D;
        color: white;
        position: absolute;
        top: 4px;
        right: 10px;
        border-radius: 5px;
    }

    .section-contents {
        width: 80vw !important;
    }

    .session-box {
        width: 56px !important;
        height: 70px;
    }

    #six .section-contents .content-box {
        width: 220px;
        height: 200px;
        padding: 20px;
        display: inline-block;
        font-size: 1em;
        text-align: center;
        background-color: #354375;
    }

    #six .section-contents .content-box:nth-child(even) {
        background-color: #2b3660 !important;
    }

    #six .section-contents .a {
        background-color: #354375;
    }

    #six .section-contents .b {
        background-color: #354375;
    }
}

@media (max-device-width: 767px){

    body {
        min-width: 100%;
    }

    header {
        min-height: 480px;
    }

    .section-header h1{
        font-size: 1.4em;
        margin: 0.5em;
    }

    .section-header .icon {
        height: 70px;
        margin: 5px 10px 5px 10px;
        display: inline-block;
        vertical-align: middle;
    }

    .section-contents {
        width: 65vw;
        font-size: 0.9em;
        margin: 0 auto 0 auto;
    }

    .section-top {
        width: 100vw;
        height: 60px;
        background-size: cover;
        margin: 0 auto 0 auto;
    }

    .section-bottom {
        width: 100vw;
        height: 40px;
        background-size: cover;
        margin: 40px auto 0 auto;
    }

    .section-image {
        height: 400px;
    }

    .title-box h1 {
        font-size: 2em;
        letter-spacing: 0.1em;
        margin: 0;
    }

    .title-box .date {
        margin: 0;
        font-weight: 200;
        font-size: 1em;
        letter-spacing: 0.24em;
    }

    .title-box .description {
        margin: 0;
        font-weight: 200;
        letter-spacing: 0.1em;
        font-size: 1.1em;
    }

    .title-box hr {
        width: 9.4em;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .title-box .join-button {
        font-weight: 400;
        font-size: 0.8em;
        padding: 6px;
        margin: 1.2em auto 0 auto;
        width: 120px;
        background: #F7931D;
    }

    .mirror-ball {
        width: 100px;
        height: 100px;
        background: rgb(100,100,100);
        border-radius: 100%;
        margin: 0 auto 0 auto;
        overflow: hidden;
        line-height: 1.2;
    }

    .mirror-ball-container {
        width: 240px;
        height: 120px;
        margin-left: -120px;

    }

    .mirror-ball-particle {
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 100%;
        animation: blink 1s infinite, move 8s linear infinite;
        display: inline-block;
        margin: 3px;
        position: relative;
    }

    @keyframes move{
        from {
            left: 0px;
        }
        to {
            left: 112px;
        }
    }
    .learn-more p {
        margin: 0 0 6px 0;
        font-size: 0.8em;
    }

    .low-arrow img {
        width: 12px;
    }

    #one {
        height: auto;
        background-attachment: initial;
    }

    #one .section-header {
        padding-top: 40px;
        text-align: center;
        height: 220px;
    }

    #one .section-header img {
        height: 90px;
    }

    #one .section-header h1 {
        font-size: 1.5em;
    }

    #one .section-contents {
        color: white;
        font-size: 1em;
        margin: 0 auto 0 auto;
        height: auto;
    }

    #one .section-contents h3 {
        font-size: 1.2em;
    }

    #one .section-contents-wrapper {
        background: rgba(60,60,60, 0.8);
        padding: 20px;
        bottom: 0px;
        height: auto;
    }
    #two .section-top {
        height: 60px;
    }

    #two .section-top {
        height: 60px;
    }

    #three .section-top {
        height: 60px;
    }

    #three .section-bottom {
        height: 60px;
    }

    .picture-wrapper {
        text-align: center;
        width: 100vw;
        height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dongle {
        display: none;
    }

    .food-icon {
        height: 60px;
        animation: none;
        margin: 5px 20px 5px 20px;
        display: inline-block;
        visibility: visible;
    }

    #five {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #five .section-contents {
        width: 100vw !important;
        font-size: 0.8em;
    }

    .timeline {
        margin: 16px auto 0 auto;
        width: fit-content;
        width: -moz-fit-content;
    }

    .timeline .day-title h1{
        text-align: center;
        margin-top: 0;
    }

    .timeline:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .session-box {
        width: 80px;
        height: 70px;
    }

    .session-icon {
        width: 38px;
        height: 38px;
    }

    .session-icon img {
        width: 26px;
        height: 26px;
        margin-top: 6px;
    }

    #six .section-contents {
        text-align: center;
        width: 90vw;
    }

    #six .section-contents .content-box {
        width: 220px;
        height: 200px;
        padding: 20px;
        display: inline-block;
        font-size: 1em;
        text-align: center;
    }

}
