@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
nav {
    position: absolute;   
}

header {
    width: 100vw;
    height: 100vh;
    background: #344374;
    position: relative;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.title-box {
    position: relative;
    color: white;
    margin: 50px auto 0 auto;
    width: fit-content;
    text-align: center;
}

.title-box h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0;
}

.title-box .date {
    margin: 0;
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 0.24em;
}

.title-box .description {
    margin: 0;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-size: 1.8em;
}

.title-box hr {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.title-box .join-button {
    font-weight: 400;
    font-size: 1.2em;
    padding: 6px;
    margin: 1.2em auto 0 auto;
    width: fit-content;
    background: #F7931D;
}

.title-box .join-button:hover {
    cursor: pointer;
}

.title-box .join-button:hover:active:visited {
    text-decoration: none;
}

.learn-more {
    position: absolute;
    bottom: 0;
    margin: 0 auto 0 auto;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 200;
}

.learn-more p {
    margin: 0 0 10px 0;
}

.low-arrow img {
    width: 20px;
}

.mirror-ball-stick {
    width: 3px;
    height: 15vh;
    background: rgb(100,100,100);
    margin: 0 auto 0 auto;
}

.mirror-ball {
    width: 150px;
    height: 150px;
    background: rgb(100,100,100); 
    border-radius: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
}
.mirror-ball-particle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
    animation: blink 1s infinite;
    display: inline-block;
    margin: 3px;
}

.dgd-logo {
    width: 200px;
}

#one {
    background: #F7931D;
}

@keyframes blink{
    0% {
        background: white;
    }
    50% {
        background: grey;
    }
    100% {
        background: white;
    }
}